.recipie-detail {
  height: 100%;
  padding: 0 20px;
  &__background {
    width: 560px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
  }
}
