.recipie-detail_container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: inline-grid;
  grid-template-columns: 60% 40%;
  box-sizing: border-box;
  &__background {
    width: 560px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
  }
  &__block {
    &__header {
      font-weight: 700;
      font-size: 28px;
      text-align: center;
    }
  }
  
}
