.recipieCard {
  display: inline-block;
  &__container {
    background-size: cover;
    padding: 10px;
    background-repeat: no-repeat;
    width: 250px;
    margin: 20px 10px 0 10px;
    height: 217px;
    display: inline-block;
    background-color: black;
    cursor: pointer;
  }
  &__container:hover {
    opacity: 0.6;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
  }
}
