.headerContainer {
}

.logoStyle {
  margin: 25px 20px;
  color: #000000;
  padding: 0 1 rem;
  height: 100%;
  cursor: pointer;
  font-weight: 300;
  font-size: 40px;
}

.navbar_container {
  padding-right: 20px;
}
